.comunidad-container {
  padding: 20px;
  max-width: auto;
  margin: 0 auto;
  background: linear-gradient(#0f172a, #1e3a8a, #0f172a);
}

.comunidad-header {
  text-align: center;
  margin-bottom: 40px;
}

.comunidad-grid {
    /* CONFIGURACIÓN DE COLUMNAS */
    display: grid;
    /* Creamos 3 columnas de igual tamaño (1fr) */
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; /* Espacio entre las tarjetas */
    margin-top: 20px;
}

/* RESPONSIVE: Para que en tablets sean 2 columnas y en celular 1 */
@media (max-width: 1024px) {
    .comunidad-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .comunidad-grid {
        grid-template-columns: 1fr;
    }
}

.card-publicacion {
  background: linear-gradient(#0f172a, #1e3a8a, #0f172a);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  border: 1px solid #eee;
  color: white;
}

.card-publicacion:hover {
    transform: translateY(-10px);
    border-color: #3b82f6;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4), 0 0 20px rgba(59, 130, 246, 0.2);
}

.autor-tag {
 background: rgba(59, 130, 246, 0.1);
    color: #60a5fa;
    padding: 6px 14px;
    border-radius: 99px;
    font-size: 0.75rem;
    font-weight: 800;
    border: 1px solid rgba(59, 130, 246, 0.3);
}
.proyecto-nombre {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 15px 0;
    color: #fff;
}
.mini-tag {
  font-size: 0.8rem;
  margin-bottom: 5px;
  color: white;
}

.precio-total {
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.1rem;
}

.precio-total span {
  color: #4ade80
}

.btn-usar-plantilla {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #6200ea;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-usar-plantilla:hover {
  filter: brightness(1.2);
  box-shadow: 0 0 20px rgba(124, 58, 237, 0.4);
}

.btn-volver {
  margin-right: 20px;
  padding: 8px 14px;
  border: none;
  background: #0072ff; /* Color acorde al degradado */
  color: white; /* Color acorde al degradado */
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.comunidad-title {
    font-size: 2.8rem;
    font-weight: 900;
    color: #fff;
    letter-spacing: -1px;
    margin-top: 20px;
    text-shadow: 0 0 20px rgba(59, 130, 246, 0.5);
}

.slogan, .no-data{
  color: white;
}

.resumen-grid{
  display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.tipo-label {
    font-size: 0.8rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #64748b;
    margin-right: 8px;
}

.nombre-val {
    font-size: 0.85rem;
    color: #cbd5e1;
}