# Ignore environment variable files
.env
frontend/.env

# Node
node_modules/

# .NET
backend/ArmatuXPC.Backend/obj/
backend/ArmatuXPC.Backend/bin/

# Ignore configuration and secret files
docker-compose*.yml
docker-compose-development*.yml