# Ignorar archivos de configuración y secretos
appsettings.json
.env
appsettings.Development.json
# .NET build artifacts
**/bin/
**/obj/
# Archivos json de firebase
firebase-config.json
firebase-service-account.json
firebase-adminsdk.json
**/obj/
